@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color1: rgb(108, 137, 255);
  --primary-color2: rgb(46, 52, 109);
  --primary-color3: rgba(35, 61, 166, 0.85);
  --primary-color4: rgb(108, 167, 255);
  --white: rgb(255, 255, 255);
  --grey: rgba(108, 137, 255, 0.05);
  --text-basic: rgba(46, 52, 109, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: var(--primary-color2);
  line-height: 1.6;
  background: var(--grey);
}

.header {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
}

.burger {
  display: none;
}

.nav {
  width: 95%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 24px 10px 24px 40px;
  background: var(--white);
  border-radius: 10px;
}

.logo img {
  margin-top: 8px;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 10px;
  background: var(--grey);
  border-radius: 100px;
  transition: 0.3s;
}

.nav-menu li a {
  text-decoration: none;
  color: rgba(46, 52, 109, 0.5);
  border-radius: 100px;
  margin: 0 5px;
  padding: 0 25px;
  position: relative;
}

.nav-menu li a:hover {
  color: var(--primary-color1);
  cursor: pointer;
  background: var(--white);
}

.nav-menu li a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: var(--primary-color1);
  opacity: 0;
  visibility: hidden;
}

.nav-menu li a:hover::before {
  opacity: 1;
  visibility: visible;
}

.button {
  position: relative;
  background: var(--primary-color2);
  color: var(--white);
  padding: 8px 16px;
  border-radius: 100px;
  text-decoration: none;
  width: 196px;
  height: 42px;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--primary-color1);
}

.button:active {
  background: var(--white);
  color: var(--primary-color2);
}

.button::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: 4px;
  right: 4px;
  border-radius: 50%;
  background: var(--white);
}

.button::after {
  content: url("/img/assets/btn-arrow.svg");
  position: absolute;
  width: 7px;
  height: 14px;
  right: 17px;
  top: 11px;
}

.btn {
  display: none;
}

.header-content {
  width: 95%;
  margin: auto;
  display: flex;
  gap: 10px;
  height: 570px;
}

.left-block {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 30px 113px 40px;
  height: 100%;
  border-radius: 10px;
}

.left-block p {
  font-size: 1.63rem;
  font-weight: 300;
  line-height: 120%;
  margin-top: 30px;
  margin-right: 85px;
}

.left-block .button {
  margin-top: 60px;
  width: 163px;
}

.right-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.header-content h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
  color: var(--primary-color2);
}

.ai-diagnosis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.swiper-diagnosis {
  width: 680px;
  height: 340px;
  background-size: cover;
  object-fit: cover;
  background-color: var(--primary-color1);
  border-radius: 10px;
}

.swiper-diagnosis h1 {
  color: var(--white);
  padding: 30px 380px 30px 30px;
  font-size: 2.63rem;
}

.swiper-diagnosis .swiper-slide img {
  position: absolute;
  right: 45px;
  bottom: 0;
  width: auto;
  height: 270px;
}

.swiper-diagnosis .swiper-pagination-bullets {
  width: auto !important;
  left: 30px !important;
  bottom: 25px !important;
}

.swiper-diagnosis .swiper-pagination-bullet {
  width: 79px;
  height: 7px;
  border-radius: 5px;
  background: var(--white);
}

.swiper-diagnosis .swiper-button-next {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  top: auto !important;
  bottom: 25px !important;
  right: 25px !important;
  background: rgba(255, 255, 255, 0.1);
}

.swiper-diagnosis .swiper-button-next:after {
  position: absolute;
  content: url("img/assets/arrow-next.svg");
  bottom: 5px !important;
}

.key-features {
  display: flex;
  margin: 10px 0 0 0;
  gap: 10px;
  height: 220px;
}

.key-features span {
  font-size: 2.63rem;
  font-weight: 500;
}

.key-features p {
  font-size: 1.63rem;
  font-weight: 300;
}
.feature-box {
  background: var(--primary-color4);
  color: var(--white);
  width: 220px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.key-features .feature-box:nth-child(2) {
  flex: 2;
  padding: 0;
}

.swiper-solutions .swiper-wrapper {
  background-color: var(--primary-color1);
  border-radius: 10px;
  position: relative;
}

.swiper-solutions h1 {
  position: absolute;
  top: 0;
  z-index: 3;
  color: var(--white);
  font-size: 1.63rem;
  padding: 42px 120px 85px 20px;
}
.swiper-solutions p {
  position: absolute;
  top: -20px;
  z-index: 3;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  font-weight: 400;
  padding: 42px 120px 85px 20px;
}

.swiper-solutions .swiper-slide img {
  position: relative;
  width: 100%;
  height: 220px;
  border-radius: 10px;
  display: block;
  background-size: cover;
  object-fit: cover;
}

.swiper-solutions .swiper-pagination-bullets {
  width: auto !important;
  left: 15px !important;
  bottom: 10px !important;
}

.swiper-solutions .swiper-pagination-bullet {
  width: 79px;
  height: 7px;
  border-radius: 5px;
  background: var(--white);
}

.swiper-solutions .swiper-button-next {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  top: auto !important;
  bottom: 10px !important;
  right: 15px !important;
  background: rgba(255, 255, 255, 0.1);
}

.swiper-solutions .swiper-button-next:after {
  position: absolute;
  content: url("img/assets/arrow-next.svg");
  bottom: 5px !important;
}

.mission,
.solution-main,
.boost-solution,
.summary-solution,
.pathologies {
  background: var(--white);
  border-radius: 10px;
  width: 95%;
  margin: 30px auto;
  text-align: center;
  padding: 75px 160px;
}

.mission,
.summary-solution {
  position: relative;
  overflow: hidden;
}

.mission img,
.summary-solution img {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}

.mission h1,
.solution-main h1,
.boost-solution h1,
.summary-solution h1,
.pathologies h1 {
  text-transform: uppercase;
  padding: 0 0 20px 0;
  font-size: 1.13rem;
  font-weight: 700;
}

.mission h2,
.solution-main h2,
.boost-solution h2,
.summary-solution h2,
.pathologies h2 {
  font-size: 2.63rem;
  font-weight: 275;
  color: var(--primary-color2);
}

.mission span,
.solution-main span,
.boost-solution span,
.summary-solution span,
.pathologies span {
  color: var(--primary-color1);
  font-weight: 500;
}

.mission p,
.solution-main p,
.summary-solution p {
  font-size: 1.13rem;
}

.statistics .container {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  gap: 10px;
  width: 95%;
  margin: auto;
  overflow: hidden;
  padding: 30px;
  background: var(--white);
  border-radius: 10px;
  color: var(--text-basic);
}

.chart img {
  width: 100%;
}

.stat-box {
  background: var(--white);
  padding: 60px 40px 40px 60px;
  border-radius: 10px;
  position: relative;
  background: var(--grey);
  flex: 1;
}

.stat-box.clinics,
.stat-box.patients {
  padding: 60px 40px 40px 40px;
}

.stat-box.clinics .main-text,
.stat-box.patients .main-text {
  font-size: 1.63rem;
  font-weight: 300;
  margin-bottom: 0;
}

.clinics-patients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.clinics-patients span {
  font-size: 4.38rem;
  font-weight: 400;
  display: block;
}

.stat-header h3 {
  font-size: 1.73rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: var(--primary-color2);
  margin-bottom: 20px;
}

.stat-header p {
  text-align: left;
  font-size: 1.13rem;
  margin-bottom: 30px;
}

.stat-header .dot {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 15px;
  background: var(--primary-color1);
}

.stat-header .main-text {
  font-size: 2.63rem;
  font-weight: 500;
  margin: 20px 0 100px;
}

.stat-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.detail {
  text-align: left;
  background: var(--white);
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  background: var(--grey);
  flex: 1;
}

.detail h4 {
  margin-bottom: 4px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--primary-color1);
}

.stat-chart img {
  width: 100%;
  border-radius: 10px;
}

.solution-steps {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  row-gap: 20px;
  border-radius: 10px;
  background: var(--white);
  padding: 30px;
  width: 95%;
  margin: auto;
}

.header-row,
.row {
  display: contents;
}

.header-cell,
.cell {
  background: var(--grey);
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  font-size: 1.13rem;
}

.side-cell {
  padding: 0;
  border-radius: 10px;
}

.header-cell {
  padding: 0 30px;
  text-align: left;
  font-size: 1.63rem;
  font-weight: 300;
}

.header-cell:first-of-type {
  visibility: hidden;
}

.cell.with-xaid {
  color: var(--white);
  background: var(--primary-color1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-cell {
  writing-mode: vertical-lr;
  text-align: center;
  font-weight: 400;
  width: 38px;
  font-size: 1.13rem;
  background: var(--grey);
  transform: rotate(180deg);
}

.side-cell.with-xaid {
  color: var(--white);
  background: var(--primary-color1);
}

.cell h3 {
  display: flex;
  align-items: center;
  font-size: 1.63rem;
  font-weight: 300;
  margin-bottom: 24px;
}

.cell.with-xaid h3 {
  position: relative;
  font-weight: 500;
  margin-left: 90px;
}

.cell.with-xaid h3:before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--primary-color4);
  left: -70px;
  top: 24px;
}

.sub-details {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.sub-details p {
  display: inline;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.75rem;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.body-parts {
  width: 95%;
  margin: 30px auto 0;
  display: flex;
  padding: 30px;
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
}

.body-parts h1 {
  font-size: 1.13rem;
  font-weight: 700;
}
.body-parts h2 {
  max-width: 550px;
  font-size: 2.63rem;
  font-weight: 275;
}

.body-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-right: 30px;
}

.body-main {
  padding-top: 23px;
  z-index: 10;
}

.accordion {
  list-style-type: none;
  margin-top: 60px;
}

.accordion li {
  margin-bottom: 10px;
}

.accordion-toggle {
  width: 100%;
  padding: 15px 10px;
  background: var(--white);
  border: none;
  border-bottom: 1px solid var(--text-basic);
  cursor: pointer;
  text-align: left;
  font-size: 2.63rem;
  font-weight: 275;
  position: relative;
}

.accordion-toggle:after {
  content: url("img/assets/arrow-down.svg");
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
}

.accordion-toggle.active:after {
  content: url("img/assets/arrow-up.svg");
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 10px;
  background-color: var(--white);
  border-top: none;
  border-radius: 0 0 5px 5px;
}
.accordion-content ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.accordion-content li {
  position: relative;
  width: 240px;
  padding: 30px 20px 0;
  font-size: 1.63rem;
  font-weight: 275;
}

.accordion-content li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--primary-color1);
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 62%;
  transform: translateY(-50%);
}

.boost {
  width: 95%;
  padding: 0 0 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--grey);
  color: var(--white);
}

.boost-box {
  background-image: url("img/assets/marketing.png");
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
  padding: 40px;
  width: 50%;
  height: 856px;
  text-align: left;
  position: relative;
}

.boost-box img {
  transform: scale(1.5);
}

.boost-box:first-child {
  background-image: url("img/assets/radiology.png");
  background-color: rgba(108, 137, 255, 0.5);
  background-blend-mode: multiply;
}

.box-inside {
  position: relative;
  padding: 60px 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 0;
}

.box-text {
  position: relative;
  z-index: 1;
}

.boost-box h3 {
  font-size: 4rem;
  font-weight: 275;
  line-height: 100%;
  margin-bottom: 80px;
}

.boost-box span {
  font-weight: 500;
}

.boost-box p {
  font-size: 1.63rem;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 120%;
}

.boost-box ul {
  list-style: none;
  padding: 0;
}

.boost-box ul li {
  display: inline-block;
  font-size: 1.13rem;
  margin-bottom: 10px;
  position: relative;
  padding: 10px 40px 10px 54px;
  color: var(--primary-color2);
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
}

.boost-box ul li::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--primary-color1);
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.advantages {
  width: 95%;
  margin: auto;
  display: flex;
  gap: 10px;
  background: var(--white);
  padding: 30px;
  border-radius: 10px;
}

.advantage {
  width: 100%;
  height: 310px;
  background: var(--grey);
  border-radius: 10px;
  font-size: 2.63rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--primary-color1);
  padding: 40px 40px 90px 40px;
}

.achievements {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 50px;
  background-color: var(--white);
  border-radius: 10px;
}

.achievements h2 {
  display: none;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  column-gap: 90px;
}

.detail-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-box h3 {
  font-size: 6.25rem;
  font-weight: 500;
  color: var(--primary-color1);
  margin: 0;
  line-height: 1;
}

.line {
  width: 150px;
  height: 1px;
  background: var(--primary-color2);
  margin: 10px 0;
}

.detail-box p {
  font-size: 2.63rem;
  font-weight: 275;
  color: var(--primary-color2);
  margin: 0;
  position: relative;
}

.lungs-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lungs-img img {
  width: 100%;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 30px 30px 60px;
  background-color: var(--primary-color1);
  width: 95%;
  border-radius: 10px;
  color: var(--white);
  margin: 30px auto;
}

.contact-info {
  padding-right: 40px;
  width: 40%;
}

.contact-info h1 {
  font-size: 1.13rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-info p {
  font-size: 1.63rem;
  font-weight: 300;
  line-height: 120%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.form-group input::placeholder {
  font-size: 1.75rem;
  font-weight: 275;
  color: rgba(255, 255, 255, 0.7);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.13rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input {
  padding: 20px 40px;
  height: 68px;
  border: 3px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  color: var(--text-color);
  font-size: 1.75rem;
}
.form-group input:focus {
  outline: inherit;
}

.submit {
  align-self: flex-end;
  width: 210px;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: var(--white);
  color: var(--primary-color2);
  font-size: 1.13rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  transform: scale(0.9);
}

.footer-line {
  width: 85%;
  height: 1px;
  background: rgba(46, 52, 109, 0.1);
  margin: 60px auto 0;
}

.privacy {
  font-size: 1.13rem;
  font-weight: 275;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 60px 35px;
  padding: 0 30px;
}

.privacy a {
  text-decoration: none;
  color: var(--primary-color2);
}

.privacy a:visited {
  color: var(--primary-color2);
}

@media (max-width: 769px) {
  .logo img {
    width: 46px;
    height: 19px;
  }

  .burger {
    z-index: 6;
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 5px 3px;
  }

  .top-string,
  .middle-string,
  .bottom-string {
    width: 24px;
    height: 3px;
    background-color: var(--primary-color1);
    transition: 0.3s;
    border-radius: 20px;
  }

  .top-string {
    position: absolute;
    top: 2px;
  }

  .middle-string {
    position: absolute;
    top: 11px;
  }

  .bottom-string {
    position: absolute;
    top: 20px;
  }

  .nav {
    padding: 12px;
    height: 48px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 30px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    transition: right 0.3s ease-in-out;
  }

  .nav-menu li {
    width: 100%;
    margin-bottom: 20px;
  }

  .nav-menu li a {
    padding: 15px 30px;
    width: 90%;
    display: block;
  }

  .nav-menu li a::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    top: 21px;
    left: 9px;
    border-radius: 50%;
    background: var(--primary-color1);
    opacity: 0;
    visibility: hidden;
  }

  .button {
    display: none;
  }

  .btn {
    display: flex;
    background: var(--white);
    color: var(--primary-color2);
    border-radius: 100px;
    text-decoration: none;
    width: 115px;
    height: 28px;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .left-block .btn {
    background: var(--primary-color2);
    color: var(--white);
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 20px;
  }

  .show-menu .nav-menu {
    right: 0;
  }

  .show-menu .top-string {
    transform: rotate(45deg);
    top: 11px;
  }

  .show-menu .middle-string {
    opacity: 0;
  }

  .show-menu .bottom-string {
    transform: rotate(-45deg);
    top: 11px;
  }

  .show-menu .mobile-button {
    display: block;
  }

  .header-content {
    flex-direction: column;
  }

  .ai-diagnosis {
    flex-direction: column;
  }

  .left-block {
    padding: 30px 12px;
  }

  .header-content h1 {
    font-size: 2rem;
  }

  .left-block p {
    font-size: 0.88rem;
  }

  .statistics .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 12px;
  }

  .stat-header h3 {
    font-size: 0.75rem;
    font-weight: 500;
  }

  .stat-header .dot {
    width: 12px;
    height: 12px;
  }

  .stat-header p {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }

  .stat-header .main-text {
    font-size: 1rem;
    margin: 15px 0;
  }

  .stat-box.clinics,
  .stat-box.patients,
  .stat-box {
    padding: 12px;
  }

  .clinics-patients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .clinics-patients span {
    font-size: 2rem;
    font-weight: 500;
  }

  .stat-box.clinics .main-text,
  .stat-box.patients .main-text {
    font-size: 0.75rem;
  }

  .stat-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .detail {
    height: 100%;
    padding: 12px;
  }

  .detail h4 {
    font-size: 1rem;
  }

  .detail p {
    font-size: 0.75rem;
  }

  .header-row,
  .row {
    display: grid;
  }

  .header-cell,
  .cell,
  .side-cell {
    width: 100%;
    padding: 20px 12px;
  }

  .header-cell {
    display: none;
  }

  .side-cell {
    writing-mode: horizontal-tb;
    text-align: left;
    transform: rotate(0);
    font-size: 1rem;
    font-weight: 300;
  }

  .cell h3 {
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .cell p {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 130%;
  }

  .cell.with-xaid h3 {
    margin-left: 0;
  }

  .cell.with-xaid h3:before {
    display: none;
  }

  .cell.with-xaid {
    display: block;
  }

  .solution-steps {
    grid-template-columns: 1fr;
    padding: 12px;
    row-gap: 10px;
  }

  .solution-steps > .row:first-of-type {
    grid-column: span 2;
  }

  .solution-steps > .row:nth-of-type(n + 2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .solution-steps > .row:nth-of-type(n + 2) > .cell {
    grid-column: span 1;
  }

  .solution-steps > .row:nth-of-type(n + 2) > .side-cell {
    grid-column: span 2;
  }

  .sub-details {
    display: none;
  }

  .body-parts {
    width: 95%;
    margin: 10px auto;
    padding: 30px 12px;
  }

  .body-parts h1 {
    display: none;
  }
  .body-parts h2 {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .body-img {
    display: none;
  }

  .body-main {
    padding-top: 0;
  }

  .accordion {
    list-style-type: none;
    margin-top: 40px;
  }

  .accordion li {
    margin-bottom: 15px;
  }

  .accordion-toggle {
    padding: 5px;
    font-size: 1rem;
    font-weight: 275;
  }

  .accordion-toggle:after {
    right: 10px;
    top: 50%;
    transform: translateY(-50%) scale(0.5);
    font-size: 10px;
  }

  .accordion-content {
    padding: 0 10px;
  }
  .accordion-content ul {
    padding: 0;
    margin: 10px 0;
  }
  .accordion-content li {
    padding: 0 20px;
    font-size: 1rem;
  }

  .accordion-content li::before {
    width: 15px;
    height: 15px;
    top: 50%;
  }

  .boost {
    width: 95%;
    padding: 0;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .boost-box {
    padding: 12px;
    width: 100%;
    height: auto;
  }

  .box-inside {
    padding: 30px 12px 12px;
  }

  .boost-box h3 {
    font-size: 1.25rem;
    font-weight: 275;
    margin-bottom: 50px;
  }

  .boost-box p {
    font-size: 0.75rem;
  }

  .boost-box ul {
    display: none;
  }

  .advantages {
    flex-direction: column;
    gap: 10px;
    padding: 12px;
  }

  .advantage {
    width: 100%;
    height: auto;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 130%;
    padding: 12px;
  }

  .mission,
  .solution-main,
  .boost-solution,
  .summary-solution,
  .pathologies {
    margin: 10px auto;
    text-align: center;
    padding: 40px 12px;
  }

  .mission img,
  .summary-solution img {
    display: none;
  }

  .mission h1,
  .solution-main h1,
  .boost-solution h1,
  .summary-solution h1,
  .pathologies h1 {
    padding: 0 0 10px 0;
    font-size: 0.75rem;
  }

  .mission h2,
  .solution-main h2,
  .boost-solution h2,
  .summary-solution h2,
  .pathologies h2 {
    font-size: 0.88rem;
    font-weight: 500;
  }

  .mission span,
  .solution-main span,
  .boost-solution span,
  .summary-solution span {
    font-weight: 500;
  }

  .mission p {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .summary-solution p,
  .solution-main p {
    display: none;
  }

  .lungs-img {
    display: none;
  }

  .detail-box h3 {
    font-size: 1.63rem;
    font-weight: 500;
  }

  .detail-box p {
    font-size: 0.75rem;
  }

  .line {
    width: 44px;
  }

  .achievements {
    padding: 20px 12px;
    display: block;
  }

  .achievements h2 {
    font-size: 0.88rem;
    display: block;
  }

  .details {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
  }

  .detail-box {
    background-color: var(--grey);
    height: 90px;
    width: 90px;
    border-radius: 10px;
    padding: 12px;
  }

  .footer {
    flex-direction: column;
    padding: 22px 12px;
    margin: 10px auto;
  }

  .contact-info {
    padding: 0;
    width: 100%;
  }

  .contact-info h1 {
    font-size: 0.75rem;
  }

  .contact-info p {
    font-size: 0.88rem;
    line-height: 130%;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.6);
  }

  .contact-form {
    width: 100%;
  }

  .contact-form input {
    height: 34px;
    width: 100%;
    margin: auto;
  }

  .form-group label {
    font-size: 0.75rem;
  }

  .form-group input {
    padding: 20px;
    font-size: 0.75rem;
  }

  .form-group input::placeholder {
    font-size: 0.75rem;
  }

  .submit {
    width: 100%;
    margin: auto;
  }

  .footer-line {
    width: 95%;
    margin-top: 40px;
  }

  .privacy {
    margin: auto;
    padding: 20px 0;
    font-size: 0.75rem;
  }
}
